#first-container-about{
background-color: black;

height: 650px;
}
h3{
padding-top: 2pc;
margin-top: 60px;
text-align: center;
color: #c4e9e4;
font-weight: bold;
}
.paragraph{
text-align: center;
/* padding: 7px; */
font-weight: bold;
color: #c4e9e4;
font-size: 17px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#button-contact{
text-align: center;
}
#contact{
margin-top: -70px;
}
.contact{
text-align: center;
margin-top: 70px;
}
#skill1{
color: aqua;
text-align: left;

}
p{
color: aqua;
}
#form-label{
color: aqua;
}
#next1{
margin-top: -100px;
text-align: right;
}
#skill1s{
/* margin-top: -70px; */
text-align: left;
}
#next11{
margin-top: -80px;
text-align: right;
}
#next12{
margin-top: -130px;
text-align: right;
}
#next14{
margin-top: 100px;
text-align: right;
}
