#first-container{
background-image: url("./static/images/home/pixlr-bg-result.png" ) !important;
background-color: rgb(36, 36, 36);
background-position-x: center;
background-size: cover;

width: 100%;
height: 700px;
/* padding: 2pc; */
}
.hhhhhhhhhhhh{
color: #1bd1b9;
padding: 1pc;
margin: 3pc;
font-family: monospace;
font-size: xx-large;
width: fit-content;
}
.ppppppppp{
text-align: center;
border-bottom: 1px solid;
width: fit-content;
margin-left: 3%;
color: #1bd1b9;
font-size: x-large;

}
#next{
color: aqua;
font-size: 90px;
text-decoration: none;
text-align: right;
margin-top: 220px;
}
@media only screen and (max-width:414px){
#first-container{

height: 700px;
/* padding: 2pc; */
}
.hhhhhhhhhhhh{
color: #1bd1b9;
/* padding: 1pc; */
margin-left: -3%;
/* font-family: monospace; */
font-size: 2rem;
/* width: fit-content; */
text-align: left;
}
.ppppppppp{
margin-top: 420px;
text-align: center;
border-bottom: 1px solid;
width: fit-content;
margin-left: 3%;
color: #1bd1b9;
font-size: x-large;

}
#about-me{
margin-top: -100px;
text-align: left;
}
#about{
margin-top: 0px;
}
#skills{
margin-top: -55px;
}
#exprience{
/* color: #1bd1b9; */
/* text-align: left; */
margin-top: 35px;
text-decoration: underline;
}
#tech-skills{
margin-top: -30px;
text-align: left;
color: #1bd1b9;
}
#skill1{
margin-top: -20px;
}
#contact-info{
margin-top: 120px;
}
#direct-message{
text-align: left;
}
#paragraph-about{
text-align: left;
/* padding: 7px; */
font-weight: bold;
color: #1bd1b9;
font-size: 17px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#paragraph{
text-align: left;
/* padding: 7px; */
font-weight: bold;
color: #1bd1b9;
font-size: 17px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#first-container-abou{
background-color: rgb(27, 27, 27);
margin-top: 30px;
height: 570px;
}
#lets-talk{
    background-color: rgb(27, 27, 27);  
    margin-top: 190px;
}
#let{
    margin-top: -20px;
    margin-left: -30px;
}
/* #top{
    font-size: xx-large;
    margin-top: -30px;
} */
}