#first-container{
background-image: url("./static/images/home/pixlr-bg-result.png" ) !important;
background-color: rgb(36, 36, 36);
background-position-x: center;
background-size: cover;

width: 100%;
height: 916px;
/* padding: 2pc; */
}
#first-container-abou{
    background-color: rgb(27, 27, 27);
    margin-top: 30px;
    height: 770px;
    }
.hhhhhhhhhhhh{
color: #1bd1b9;
padding: 1pc;
margin: 3pc;
font-family: monospace;
font-size: xx-large;
width: fit-content;
}
.favoriteqoute{
    color: #1bd1b9;
    padding: 1pc;
    margin-left: 700px;
    margin-top: 450px;
    text-decoration: underline;
    font-family: monospace;
    font-size: xx-large;
    width: fit-content; 
}
.hhhhhhhhhh{
    color: #1bd1b9;
    padding: 1pc;
    margin-left: 650px;
    margin-top: -55px;
    font-family: monospace;
    font-size: xx-large;
    width: fit-content;
    }
.ppppppppp{
text-align: center;
border-bottom: 1px solid;
width: fit-content;
margin-left: 6%;
color: #1bd1b9;
font-size: x-large;
}
#favorite-qoute{
    margin-top: 400px;
}
#next{
color: aqua;
font-size: 90px;
text-decoration: none;
text-align: right;
margin-top: 220px;
}
@media only screen and (max-width:414px){
#first-container{

height: 700px;
/* padding: 2pc; */
}
.hhhhhhhhhhhh{
color: #1bd1b9;
/* padding: 1pc; */
margin-left: -3%;
/* font-family: monospace; */
font-size: 2rem;
/* width: fit-content; */
text-align: left;
}
.ppppppppp{
margin-top: 420px;
text-align: center;
border-bottom: 1px solid;
width: fit-content;
margin-left: 3%;
color: #1bd1b9;
font-size: x-large;

}
#about-me{
margin-top: -100px;
text-align: left;
}
#about{
margin-top: 0px;
}
#skills{
margin-top: -145px;
}
#exprience{
/* color: #1bd1b9; */
/* text-align: left; */
margin-top: 35px;
text-decoration: underline;
}
#tech-skills{
margin-top: -30px;
text-align: left;
color: #1bd1b9;
}
#skill1{
margin-top: -20px;
}
#contact-info{
margin-top: 120px;
}
#direct-message{
text-align: left;
}
#paragraph-about{
text-align: left;
/* padding: 7px; */
font-weight: bold;
color: #1bd1b9;
font-size: 17px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#paragraph{
text-align: left;
/* padding: 7px; */
font-weight: bold;
color: #1bd1b9;
font-size: 17px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#first-container-abou{
background-color: rgb(27, 27, 27);
margin-top: 70px;
height: 570px;
}
#exprience-container{
    margin-top: 75px;
}
#lets-talk{
    background-color: rgb(27, 27, 27);  
    margin-top: 10px;
}
#let{
    margin-top: -20px;
    margin-left: -30px;
}
#contact-info{
    margin-top: -30px;
    }
    #contact-messege{
        margin-top: -90px;
    }
}
@media only screen and (max-width:375px){
    #first-container-abou{
        background-color: rgb(27, 27, 27);
        margin-top: 70px;
        height: 600px;
        }
        #skills{
            margin-top: -45px;
            }
            #exprience{
                /* color: #1bd1b9; */
                /* text-align: left; */
                margin-top: -70px;
                text-decoration: underline;
                }
                #lets-talk{
                    background-color: rgb(27, 27, 27);  
                    margin-top: -45px;
                }
                #contact-info{
                    margin-top: -30px;
                    }
                    #contact-messege{
                        margin-top: -90px;
                    }
}
@media only screen and (max-width:320px){
    #first-container-abou{
        background-color: rgb(27, 27, 27);
        margin-top: 70px;
        height: 660px;
        }
        #skills{
            margin-top: -45px;
            }
            #exprience{
                /* color: #1bd1b9; */
                /* text-align: left; */
                margin-top: -80px;
                text-decoration: underline;
                }
                #lets-talk{
                    background-color: rgb(27, 27, 27);  
                    margin-top: -15px;
                }
                #paragraph{
                    text-align: left;
                }
                #contact-info{
                    margin-top: -30px;
                    }
                    #contact-messege{
                        margin-top: -90px;
                    }
}