#first-container{
background-image: url("./static/images/home/pixlr-bg-result.png" ) !important;
background-color: rgb(36, 36, 36);
background-position-x: center;
background-size: cover;

width: 100%;
height: 700px;
/* padding: 2pc; */
}
.hhhhhhhhhhhh{
color: #1bd1b9;
padding: 1pc;
margin: 3pc;
font-family: monospace;
font-size: xx-large;
width: fit-content;
}
.ppppppppp{
text-align: center;
border-bottom: 1px solid;
width: fit-content;
margin-left: 3%;
color: #1bd1b9;
font-size: x-large;

}
#next{
color: aqua;
font-size: 90px;
text-decoration: none;
text-align: right;
margin-top: 220px;
}