#first-container{
background-image: url("./static/images/home/pixlr-bg-result.png" ) !important;
background-color: rgb(36, 36, 36);
background-position-x: center;
background-size: cover;

width: 100%;
height: 700px;
/* padding: 2pc; */
}
.hhhhhhhhhhhh{
color: #1bd1b9;
padding: 1pc;
margin: 3pc;
font-family: monospace;
font-size: xx-large;
width: fit-content;
}
.ppppppppp{
text-align: center;
border-bottom: 1px solid;
width: fit-content;
margin-left: 3%;
color: #1bd1b9;
font-size: x-large;

}
#next{
color: aqua;
font-size: 90px;
text-decoration: none;
text-align: right;
margin-top: 220px;
}
@media only screen and (max-width:414px){
    #first-container{
        
        height: 700px;
        /* padding: 2pc; */
        }
        #about-me{
            margin-top: -110px;
            text-align: left;
        }
        #about{
            margin-top: -20px;
        }
        #skills{
            margin-top: -190px;
        }
        #exprience{
            color: #1bd1b9;
            text-align: left;
            margin-top: -15px;
            text-decoration: underline;
        }
        #tech-skills{
            margin-top: -30px;
            text-align: left;
            color: #1bd1b9;
        }
        #skill1{
            margin-top: -20px;
        }
        #contact-info{
            margin-top: 120px;
        }
        #direct-message{
            text-align: left;
        }
        #paragraph{
            text-align: left;
            /* padding: 7px; */
            font-weight: bold;
            color: #c4e9e4;
            font-size: 17px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
}